
body {
  color: #555;
  background: Black;
  text-align: center;
  font-family: "Roboto Mono";
  padding: 1em;
}

h1 {
  font-size: 2.2em;
}

.flip {
  position: relative;
}
.flip > .front,
.flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.flip > .front {
  transform: rotateY(0deg);
}
.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}
.flip:hover > .front {
  transform: rotateY(180deg);
}
.flip:hover > .back {
  opacity: 1;
  transform: rotateY(0deg);
}
.flip.flip-vertical > .back {
  transform: rotateX(-180deg);
}
.flip.flip-vertical:hover > .front {
  transform: rotateX(180deg);
}
.flip.flip-vertical:hover > .back {
  transform: rotateX(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
}
.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}
.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
}
.wrapper{
	  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
	color : white;
	 font-weight: bold;
}
.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

/*
======================== css commun à toutes les pages ========================
*/
body {
  margin:0;
  
}
html {
/*     font-size:16px ; */
}

 h2 {
  color:white;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
 h3 {
  color:#12232E;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
/*    marge : haut droite bas gauche; */
   margin:0 0 10px 0;
}
.section_pleine_hauteur {
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
  flex-wrap: wrap;
  width:100vw;
}

#container_principal {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#container_principal h1 {
  color:white;
  font-size: 5rem;
  margin-bottom: 0;
  font-family: 'Ubuntu', sans-serif;
  text-align:center;

}
#container_principal h2 {
  color:white;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

#container_column {
  display:inline-flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:flex-start;
  width:100vw;
  height:auto;
  flex-wrap:wrap;
}
/* Sidebar menu  */

#sidebarMenu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  overflow: hidden;
  transition: all 0.4s;

}

#sidebarMenu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.4s;
  white-space: nowrap;
  font-family: 'Lato', sans-serif;
}

#sidebarMenu a:hover {
  color: #f1f1f1;
}

/* #sidebarMenu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
} */

.menu {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
  top:25px;
  left:25px;
  z-index: 10;
}

.menu:hover {
  background-color: #444;
}

#sidebarMenu ~ * {
  transition: all 0.4s;
}

#sidebarMenu.ouverte {
  width:250px;
}
#sidebarMenu.ouverte ~ * {
  margin-left:250px;
}


/*
======================== css Accueil ========================
*/


.container_accueil {
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-size: cover;
  background-image: url('cloudimg1.jpg')  , linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
}
.container_accueil a{
  background-color:transparent;
  border:solid 1px #EEFBFB;
  padding: 5px;
  font-family: 'Ubuntu', sans-serif;
  color:#EEFBFB;
  font-size:1.2rem;
  margin:10px 20px;
  transition:all 0.4s;
  cursor:pointer;
  text-decoration:none;
}

.container_accueil a:hover{
  background-color:#EEFBFB;
  border:solid 1px #12232E;
  color:#12232E;
}

/*
======================== css ========================
*/


/* Section 1 */

.container_produit {
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-size: cover;
  background-image: url('cloud2.jpg')  , linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
}


/* Section 2 */
.container_presentation_produit {
  background-color:#007CC7;
  flex-direction:column;
}

.container_presentation_produit p {
   color:#EEFBFB;
    font-family: 'Ubuntu', sans-serif;
}
/* Section 3 */

.container_avantages_produit {
  background-color:#12232E;
}

.avantages_produit > h2 {
  flex-basis:100%;
/*   premet de revenir à la ligne  */
  text-align:center;
}



.avantages_produit .carte {
  flex-basis: 20%;
  background-color:#EEFBFB;
  display:flex;
  flex-direction:column;
  border-radius:15px;
  padding:20px;
  min-width:250px;
  margin:20px;
}

.avantages_produit .carte i {
  font-size: 4rem;
  text-align:center;
  color:#4DA8DA;
  margin: 0 auto 25px;
  align-self:start;
  
}

.avantages_produit .carte span {
  font-size: 1.2rem;
  text-align:center;
  color:#12232E;
   font-family: 'Lato', sans-serif;
  font-weight:700;
}

.avantages_produit .carte p {
  font-size: 1rem;
  text-align:justify;
  color:#12232E;
   font-family: 'Lato', sans-serif;
  font-weight:500;
  height:100px;
}
/* Responsive */
@media screen and (min-width:1080px) {
  .avantages_produit .carte p {
  opacity:0;
}
  .avantages_produit .carte * {
  transform:translateY(60px);
  transition: all 0.4s;
}

.avantages_produit .carte:hover * {
  transform:translateY(0px);
  opacity:1;
}
}

/*
======================== css ========================
*/

/* Section 1 */
.container_nous {
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-size: cover;
  background-image: url('https://cdn.pixabay.com/photo/2016/03/09/09/22/workplace-1245776_960_720.jpg')  , linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-blend-mode: overlay;
}

/* Section 2 */
.presentation_equipe > p {
  color:#EEFBFB;
  padding : 0 20%;
}
.presentation_equipe .carte_equipe {
  flex-basis: 20%;
  background-color:#EEFBFB;
  display:flex;
  flex-direction:column;
  border-radius:15px;
  padding:20px;
  min-width:250px;
  margin:20px;
}

.presentation_equipe .carte_equipe i {
  font-size: 4rem;
  text-align:center;
  color:#4DA8DA;
  margin: 0 auto 25px;
  align-self:start;
  
}

.presentation_equipe .carte_equipe span {
  font-size: 1.2rem;
  text-align:center;
  color:#12232E;
   font-family: 'Lato', sans-serif;
  font-weight:700;
}

.presentation_equipe .carte_equipe p {
  font-size: 1rem;
  text-align:justify;
  color:#12232E;
   font-family: 'Lato', sans-serif;
  font-weight:500;
  height:100px;
}
.presentation_equipe .carte_equipe {
  height:  300px;
/*   permet de centrer l'image et de ne pas la déformer*/
  background-size:cover;
  background-position:center;
/*   afin de pouvoir mettre le cartouche en bas de la carte (position absolute) */
  position:relative;
/*   pour ne pas voir le cartouche sortir de la carte */
  overflow:hidden;
/*   effet noir et blanc des images */
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  transition:filter 0.4s;
}
.presentation_equipe .carte_equipe:hover {
 -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}


/* selection de la div directement enfant de carte_equipe pour en faire un cartouche*/
.presentation_equipe .carte_equipe > div {
  background:#EEFBFB;
  position:absolute;
  bottom:0;
  width:100%;
  height:auto;
  left:0;
  padding: 20px;
  opacity:0;
  transform:translatey(20px);
  transition:all 0.4s;
}

.presentation_equipe .carte_equipe:hover > div {
  opacity:1;
  transform:translatey(0px);
}

/*
======================== css========================
*/

/* Section 1 */
.container_contact {
  background-repeat: no-repeat;
  background-position: 20% 50%;
  background-size: cover;  
  background-blend-mode: overlay;
}
/* Section 2 */
.nous_contacter {
  background-color:#12232E;
}
/* on selectionne uniquement les inputs avec l'attribut typequi a la valeur text */
.nous_contacter form input[type="text"],.nous_contacter form textarea {
  background-color:#12232E;
  border:none;
   border-bottom:solid 1px #EEFBFB;
/*   les inputs prendrons 100% de la largeur moins le margin pour rester dans le container */
  width:calc(100% - 50px);
  padding: 5px;
  font-family: 'Ubuntu', sans-serif;
  color:#EEFBFB;
  margin:10px 20px;
  line-height:0.5rem;
/*   supprime le border quand on ecris dans les inputs */
  outline: none;

}

/* on ajuste le container pour centrer son contenu */
.nous_contacter #container_column {
  align-items:center;
}

.nous_contacter form input[type="submit"]{
  background-color:#12232E;
  border:solid 1px #EEFBFB;
  padding: 5px;
  font-family: 'Ubuntu', sans-serif;
  color:#EEFBFB;
  margin:10px 20px;
  transition:all 0.4s;
  cursor:pointer;
}

.nous_contacter form input[type="submit"]:hover{
  background-color:#EEFBFB;
  border:solid 1px #12232E;
  color:#12232E;
}



/* responsive */

@media screen and (min-width:768px) {
/*   on selectionne tous les enfant direct (l'iframe et le formulaire) */
  .nous_contacter #container_column > * {
    width:50%;
    }
  
  .nous_contacter #container_column > iframe {
    height:100vh;
    }
  }

@media screen and (max-width:767px) {
/*   on selectionne tous les enfant direct (l'iframe et le formulaire) */
  .nous_contacter #container_column > * {
    width:80%;
    }
  
  .nous_contacter #container_column > iframe {
    width:100vw;
    }
  }
/* Section caché */

.section_cachee {
  background:#4DA8DA;
  position:fixed;
  top:100%;
  left:0;
  flex-direction:column;
  transition:all 0.4s;
}


.section_cachee.ouverte {

  top:0%;

}

.section_cachee p{
  color:#EEFBFB;
}
.section_cachee img{
  border-radius:50%;
}
/* Section heure */
#section_heure {
  position:fixed;
  right:0;
  top:0;
  height:100vh;
  width:200px;
  background-color:#EEFBFB;
  transform:translateX(100%);
}

#section_heure.ouverte {
  transform:translateX(0%);
}

#section_heure p {
  font-family: 'Ubuntu', sans-serif;
  color:#12232E;
  padding:10px;
}


.btn_ouvrir {
  position:absolute;
  left:0;
  top:20%;
  height:50px;
  width:50px;
  background-color:#EEFBFB;
  transform: translateX(-100%);
  border-top-left-radius: 25px;
  border-bottom-left-radius:25px;
  /*   permet de mettre la main a la place de l'icone souris */
  cursor:pointer;
}
#section_heure .btn_ouvrir .fa-times {
  display:none;
}
#section_heure.ouverte .btn_ouvrir .fa-times {
  display:block;
}
#section_heure.ouverte .btn_ouvrir .fa-clock {
  display:none;
}
.btn_ouvrir i{
  color: #007CC7;
  line-height:50px;
  font-size:30px;
  width:100%;
  text-align:center;
}